.buttonExit {
  position: absolute;
  top: -2rem;
  right: -2rem;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.buttonPlay {
  position: absolute;
  background: black;
  height: 84%;
  opacity: 0.75;
  right: 5px;
  top: 5px;
  border-radius: 1rem;
}

.inputNameOutFocus {
  box-shadow: inset 1px 4px 16px black;
  background: #fff;
  opacity: 0.75;
  color: #000;
}
